# Виртуальные окружения
venv/
env/
ENV/
.venv/
__pypackages__/

# PyCharm
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Логи и базы
logs.log
*.log
.env
.db
!resources/domophone.db
.sqlite3

# ОС
.DS_Store
Thumbs.db

# Secrets
config/test_config.yaml

# Отчёты
reports/